.icon {
    height: 1.2em;
    padding-left: 1.6em;
}
.Rij {
    display: flex;
}

.Rij:nth-child(odd){
    background-color: aliceblue;
}
.Rij>div {
    padding: .5em 1em;
    align-self: center;
}
h1{
    padding-right: 10px;
    padding-left: 15px
}

#uitvoerKop{
    display: flex;
}


.Tab1{
    padding-left: 20px;
    padding-right: 15px;
}
.Tab2{
    padding-right: 14px;
    text-justify: auto;
}
